
 $color-titulo:black;
 $color-t2:blueviolet;
 $color-fondo-t2:violet;
 $color-darkorchid:darkorchid;
 $color-white:white;
 $tamano-letra: 30px;
 $padd-20: 20px;
 $ancho: 100%;
 /*COLORES DE BODY*/
 $size: 9em;
 $strip: .25em;