 $fondo-body:lavender;
 $color-titulo:darkorchid;
 $color-t2:blueviolet;
 $color-fondo-t2:violet;
 $color-fondo-main:lavenderblush;
 $color-white:white;
 $tamano-letra: 30px;
 $padd-20: 20px;
 $ancho: 90%;