.boton__border
 {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .boton__border__color
 {
     border-color: $color-t2;
     background-color: $color-white;
     font-size: 20px;
     border-width: 5px; 
 }
 
 .boton__border__color a
 {
     text-decoration: none;
     color: $color-titulo;
 }
 
 .boton__border__color :hover
 {
     background-color:$color-fondo-t2;
 }