header.container
 {
     background-color:  $color-white;
 }
 
 .header__titulo
 {
 color:$color-titulo ;
 font-size: 4.6em;
 }
 
 .header__titulo2
 {
     color:$color-t2 ;
     background-color:$color-fondo-t2 ;
 }
 .nav ul
 {
 list-style: none;
 display: flex;
 }
 
 .nav-item
 {
 display: inline-block;
 width: 30%;
 position: relative;
 }
 
 .nav-link
 {
     font-size: $tamano-letra;
     display: block;
     color:  $color-white;
     text-decoration: none;
     border: 1px solid palevioletred;
     padding: 0.3rem;
     background-image: linear-gradient(to left,$color-fondo-t2, $color-titulo);
 }
 
 .nav-link:hover
 {
     color: rgb(236, 191, 210);
 }
