.asidebar
 {
     color: $color-titulo;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: $color-white;
     font-family: $fuente__secundaria--tipo;
 }

 .container__img{
     background-image: linear-gradient(to right, $color-white, $color-fondo-t2);
 }

 .p__aside{
     font-size: 25px;
 }