.footer {
    background-image: linear-gradient($color-white, $color-fondo-t2); 
 }
 
 .icono{
    width: 40px;
    height: 40px;
    cursor: pointer;
 }

 .p__footer{
    font-size: 15px;
    font-family:$fuente__principal--tipo;
    color:$color-titulo;
    font-weight: bolder;
 }
 .copy{
    font-size: 12px;
    font-family:$fuente__principal--tipo;
 }